#root {
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(0deg, #1CB5E0 20%, #050b45 100%) no-repeat;
}

.common-last-element {
  padding: 64px;
  text-align: center;
  p {
    margin: 0;
  }
}